.Main-div {
    background-image: url("../img/home-bg1.webp");
    width: 100%;
    height: 100%;
}

/* .main-content {
    display: flex;
    margin: 80px auto;
    position: relative;
} */

/* .img-column .img-container {
    position: relative;
    top: 0;
    left: 275px;
} */

/* .img-column .main-img {
    height: 350px;
    width: 400px;
    border-radius: 40px;
    top: 30px;
} */

/* .img-column .arrow-img {
    /* Additional styling as needed 
} */

/* .img-background {
    position: absolute;
    z-index: -1;
    top: 138px;
} */

/* .background-img {
    width: 500px;
    border-radius: 40px;
} */

/* .text-container {
    margin-left: 300px;
} */

/* .guarantee-text {
    color: green;
    font-family: cursive;
    font-size: xx-large;
} */

/* .main-heading {
    font-size: 58px;
} */

/* .main-description {
    font-size: 26px;
    color: #2f4f4f;
} */

.header {
    background: #f3f4f7;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    color: black;
    text-align: center;
    padding-top: 50px;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.rowmain {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.room-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 48%; /* To ensure two items fit in one row */
}

.room-image {
    width: 100%;
    height: 300px; /* Adjust height as needed */
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    width: 100%;
}



.last-secction h1{
    color: black;
    text-align: center;
    
}
.last-secction{
    background: #f3f4f7;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-last-blog{
    display: flex;
    justify-content: space-around;
}