.Main-div {
    background-image: url("../img/home-bg1.webp");
    width: 100%;
    height: 100%;
}

.background-section-rooms {
    background-image: url('../img/bg_1.jpg.webp'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    
}
.background-section-car{
    background-image: url('../img/car_bg_1.jpg'); 
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.header {
    background: #f3f4f7;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1 {
    color: black;
    text-align: center;
    padding-top: 50px;
}

.content {
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.rowmain {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
}

.room-item {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    width: 50%; 
}

.room-image {
    width: 60%;
    height: 400px; 
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* padding: 10px; */
    width: 100%;
    height: 400px; 
}



.last-secction h1{
    color: black;
    text-align: center;
    
}
.last-secction{
    background: #f3f4f7;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.row-last-blog{
    display: flex;
    justify-content: space-around;
}